<div id="inbox-container" class="w3-white w3-card-4">

    <div class="w3-bar w3-black w3-hoverable">
        <a class="w3-bar-item w3-button w3-hover-white">Link 1</a>
        <a class="w3-bar-item w3-button w3-hover-white">Link 2</a>
        <a class="w3-bar-item w3-button w3-hover-white">Link 3</a>
        <a class="w3-bar-item w3-button w3-hover-white">Link 4</a>
    </div>
    
    <div class="w3-container">
        <div class="w3-row">
            <div class="w3-half">
                <h3 class="w3-padding" style="margin-bottom: 0;"><b>Inbox</b></h3>
            </div>
            <div class="w3-half">
                <button class="w3-button w3-circle w3-2017-grenadine w3-right w3-margin-top" (click)="createNewTask()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

        <hr class="w3-border w3-light-gray" style="width: 95%; margin: 10px auto 20px auto;">

        <div class="w3-container w3-margin-bottom w3-margin-top">
            <ul class="w3-ul w3-hoverable w3-card-2">
                <li class="w3-display-container" *ngFor="let task of allTasks | async">
                    <input class="w3-check w3-display-left w3-margin-left" type="checkbox">
                    <span class="w3-padding w3-margin-left" (click)="task.editMode = !task.editMode" *ngIf="task.editMode; else editTask" placeholder="Enter a new task">{{ task?.title }}</span>
                    <ng-template #editTask>Edit Mode
                        <!--<input type="text" class="w3-padding w3-margin-left" (keyup.enter)="createNewTask()" (keyup)="onKey($event)" [(ngModel)]="task.title">-->
                    </ng-template>
                    <span class="w3-button w3-display-right" onclick="this.parentElement.style.display='none'">&times;</span>
                </li>
            </ul>
        </div>
    </div>
</div>