<header class="w3-2017-shaded-spruce w3-bar">
    <div class="w3-row">
        <div class="w3-quarter">
            <h5 class="w3-bar-item" style="margin: 0 0 0 70px; padding-bottom: 5px;">
                projectr
            </h5>
        </div>
        <div class="w3-half">
            <input type="text" class="w3-bar-item w3-input w3-round-xxlarge w3-border w3-hide-medium w3-hide-small w3-animate-input" placeholder="Search ..." style="width:50%;">
        </div>
        <div class="w3-quarter">
            <span class="w3-right w3-bar-item">
                <i class="fa fa-hand-spock-o"></i>
            </span>
        </div>
    </div>
</header>

<div class="w3-sidebar w3-bar-block w3-black w3-padding-16" id="global-sidebar" style="width: 70px;">
    <a class="w3-bar-item w3-button w3-center w3-margin-top w3-hover-white w3-hide-large">
        <i class="fa fa-search fa-2x"></i>
    </a>
    <a class="w3-bar-item w3-button w3-center w3-margin-top w3-hover-white" [routerLink]="['inbox']">
        <i class="fa fa-inbox fa-2x"></i>
    </a>
    <a class="w3-bar-item w3-button w3-center w3-margin-top w3-hover-white" [routerLink]="['today']">
        <i class="fa fa-calendar fa-2x"></i>
    </a>
    <a class="w3-bar-item w3-button w3-center w3-margin-top w3-hover-white" (click)="toggleSidebar()" [class.w3-white]="sidebarOpen">
        <i class="fa fa-folder-open fa-2x"></i>
    </a>
    <a class="w3-bar-item w3-button w3-center w3-margin-top w3-margin-bottom w3-hover-white">
        <i class="fa fa-bar-chart fa-2x"></i>
    </a>

    <hr class="w3-border-grey" style="margin:auto;width:80%">

    <a class="w3-bar-item w3-button w3-center w3-margin-top w3-hover-white">
        <i class="fa fa-user-circle fa-2x"></i>
    </a>
    <a class="w3-bar-item w3-button w3-center w3-margin-top w3-hover-white">
        <i class="fa fa-cog fa-2x"></i>
    </a>
</div>

<pr-sidebar-folders  class="w3-sidebar w3-bar-block animate-sidebar-left w3-card-2" id="extended-sidebar" [style.display]="sidebarOpen ? 'block' : 'none'" [style.width]="sidebarOpen ? '285px' : '0px'" style="margin-left: 70px;"></pr-sidebar-folders>

<div [style.marginLeft]="sidebarOpen ? '355px' : '70px'" class="w3-main w3-light-gray">
    <router-outlet></router-outlet>
</div>
