.animate-sidebar-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: 0px;
        opacity: 0
    }
    to {
        left: 70;
        opacity: 1
    }
}